<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiStatus">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".XmlEmbeddedActivity"
            android:exported="true"
            android:label="XML内嵌方式演示" />
            
        <activity
            android:name=".ResourceIdActivity"
            android:exported="false"
            android:label="资源ID方式演示" />
            
        <activity
            android:name=".LayoutResourceActivity"
            android:exported="false"
            android:label="布局资源方式演示" />
            
        <activity
            android:name=".MixedConfigActivity"
            android:exported="false"
            android:label="混合配置方式演示" />
            
        <activity
            android:name=".AdvancedFeaturesActivity"
            android:exported="false"
            android:label="高级特性演示" />
            
        <activity
            android:name=".RelativeLayoutActivity"
            android:exported="false"
            android:label="RelativeLayout版本演示" />
            
        </application>

</manifest>